#FenInDiv{
    position: relative;
    left: 60px;
}

#fenIn{
    width: 480px;
    left: 60px;
}

#Board {
    position:relative;
    top : 20px;
    left : 60px;
    width: 480px;
    height: 480px;
    border-style: solid;
    border-width: 2px;
}

#EngineOutput {
    position: absolute;
    left: 600px;
    top: 250px;
}

.Square{
    position: absolute;
    width: 60px;
    height: 60px;
}

.Dark { 
    background-color: #5fbcd3;
}

.Light{
    background-color: #afdde9;
}

.SquareSelected{
    background-color: #216778;
}

.Rank1{ top: 420px;}
.Rank2{ top: 360px;}
.Rank3{ top: 300px;}
.Rank4{ top: 240px;}
.Rank5{ top: 180px;}
.Rank6{ top: 120px;}
.Rank7{ top: 60px;}
.Rank8{ top: 0px;}

.File1{ left : 0px;}
.File2{ left : 60px;}
.File3{ left : 120px;}
.File4{ left : 180px;}
.File5{ left : 240px;}
.File6{ left : 300px;}
.File7{ left : 360px;}
.File8{ left : 420px;}

.rank1{ top: 0px;}
.rank2{ top: 60px;}
.rank3{ top: 120px;}
.rank4{ top: 180px;}
.rank5{ top: 240px;}
.rank6{ top: 300px;}
.rank7{ top: 360px;}
.rank8{ top: 420px;}

.file1{ left : 420px;}
.file2{ left : 360px;}
.file3{ left : 300px;}
.file4{ left : 240px;}
.file5{ left : 180px;}
.file6{ left : 120px;}
.file7{ left : 60px;}
.file8{ left : 0px;}

.Piece{
    position : absolute;
}